@model List<CountryView>
@{
    ViewData["Title"] = "Countries";
}

@section Style {
    <link rel="stylesheet" href="~/css/countries-list.css" asp-append-version="true" />
}

<h1 class="text-center py-4">Countries</h1>

<div class="container">
    <a asp-controller="Countries" asp-action="Create" class="btn btn-outline-success">Add country</a>
</div>

<div class="container" id="countries">
    <partial name="_countriesTable" model="@Model" />
</div>


@section Scripts {
    <script src="~/js/countries-list.js" asp-append-version="true"></script>
}




