.lable {
    font-weight: bold;
    margin: auto 0;
    width:10%;
}
    


.input-container {
    width:30%;
}

.add-btn{
    width:30%;
    margin:1rem 10%;
}

.invalid-text{
    margin:1rem 8%;
}


#lang-list{
    min-height:80px;
    width:50%
}