@using mvcData_assignmrnt.Data
@model CreatePersonView
@{
    ViewData["Title"] = "AddPerson";
}

@section Style {
    <link rel="stylesheet" href="~/css/add-people.css" asp-append-version="true" />

}

<h3 class="py-3">AddPerson</h3>

<form method="post" asp-action="Create">
    <div class="input-group py-2">
        <label class="form-label lable" asp-for="Name"></label>
        <div class="input-container">
            <input asp-for="Name" class="form-control w-100" />
        </div>
    </div>
    <div>
        <span asp-validation-for="Name" class="text-danger invalid-text"></span>
    </div>





    <div class="input-group py-2">
        <label class="form-label lable" asp-for="PhoneNumber"></label>
        <div class="input-container">
            <input asp-for="PhoneNumber" class="form-control" />
        </div>
    </div>
        <div>
        <span asp-validation-for="PhoneNumber" class="text-danger invalid-text"></span>
        </div>



    <div class="input-group py-2">
        <label class="form-label lable" asp-for="CityName"></label>
        <div class="input-container">
            <select class="form-select w-100" asp-for="CityName">
                @foreach(CountryView country in Model.Countries)
                {
                    <optgroup label="@country.Name">
                        @foreach(string city in country.Cities)
                        {
                            <option>@city</option>
                        }
                    </optgroup>
                }
            </select>
        </div>
    </div>

    <div class="input-group py-2">
        <label class="form-label lable" asp-for="Languages"></label>
        <div class="input-container d-flex gap-3">
            <select class="form-select w-75" id="lang-select" form="lang-form">
                @foreach(LanguageView lang in Model.Languages)
                {
                    <option>@lang.Name</option>
                }
            </select>
            <button type="button" class="btn btn-outline-primary" onclick="addPersonLanguage()">Add</button>
        </div>
    </div>
    <div>
        <span asp-validation-for="LangsName" class="text-danger"></span>
    </div>
    <div class="row" id="lang-list">

    </div>

    <div>
        <button type="submit" class="btn btn-success add-btn">Add</button>
    </div>

</form>

@section Scripts {
    <script src="~/js/add-person.js" asp-append-version="true"></script>
}


