@model Person
@{
    ViewData["Title"] = "Details";
}

<h1 class="text-center py-3">Details</h1>

<div>
    <div class="py-2">
        <strong>Name: </strong><span>@Model.Name</span>
    </div>

    <div class="py-2">
        <strong>Phone number: </strong><span>@Model.PhoneNumber</span>
    </div>

    <div class="py-2">
        <strong>City: </strong><span>@Model.City</span>
    </div>

    <div class="py-2">
        <a asp-action="Index" class="link-primary fw-bold text-decoration-none">&larr; Go back</a>
    </div>

</div>

