@model List<Person>
@{
    ViewData["Title"] = "people";
}

@section Style {
    <link rel="stylesheet" href="~/css/people-list.css" asp-append-version="true" />
}

<h1 class="text-center py-3">People</h1>

<div class="container">
    <a asp-action="AddPerson" class="btn btn-outline-success">Add Person</a>
</div>

<div class="container list">
    <partial name="_PeopleTable" model="@Model" />
</div>


@section Scripts{
    <script src="~/js/people-list.js" asp-append-version="true"></script>
}


