@using Microsoft.AspNetCore.Identity

@inject SignInManager<AppUser> SignInmanager

@if (SignInmanager.IsSignedIn(User))
{
    <ul class="navbar-nav mx-4">
        <li class="nav-item">
            <a class="nav-link text-dark" asp-action="Logout" asp-controller="Account" >Hello @User.Identity?.Name</a>
        </li>

        <li class="nav-item">
            <a class="nav-link text-danger" asp-controller="Account" asp-action="Logout">Logout</a>
        </li>
    </ul>
}
else
{
    <ul class="navbar-nav flex-grow-1 mx-4">
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Account" asp-action="Login">Login</a>
        </li>
    </ul>
}

